* {
  box-sizing: border-box;
}
body{
  margin-top:50px;
  background-color: rgb(241, 248, 253);
  margin: 0px;
  padding:0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
.section1{
  background-color: #343148FF;
  width: 100%;
  height: 500px;
}
.header1{
  position: relative;
  background-color: #D7C49EFF;
  width: 90%;
  height: 80px;
  top: 140px;
  text-align:center;
  margin: 0 auto;
  min-width: 50%;
  font-size: 25.5px;
  color: white;
  border-radius: 5px;
}
.control-text{
  position: relative;
  letter-spacing: 0.5px;
  top: 17.5px;
}
.headingcolor{
  color:black;
  font-weight: 700;
  text-shadow: 5px 6.5px 15px rgb(0, 0, 0);
}
.heading1{
  letter-spacing: 2px;
}
.paragrap-control-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -25px;
}
.par-control1, .par-control2{
  font-size: 19px;
  transform: rotate(15deg);
}
.links1{ 
  color: #D7C49EFF;
}
.links1:hover {
  color: beige;
  text-decoration: none;
}
.par-control3, .par-control4{
  font-size: 19px;
  transform: rotate(-15deg);
}
.par-control5{
  font-size: 19px;
}
.par-control1:hover{
  color: white;
  cursor: pointer;
}
.par-control2:hover{
  color: white;
  cursor: pointer;
}
.par-control3:hover{
  color:white;
  cursor: pointer;
}
.par-control4:hover {
  color: white;
  cursor: pointer;
}
.par-control5:hover {
  color:white;
  cursor: pointer;
}

.lets-play-btn {
  display: block;
  background-color: rgb(206, 159, 98);
  max-width: 260px;
  height: 50px;
  margin: 0px auto;
  margin-top: 17%;
  border-radius: 2.5px;
  text-align: center;
  box-shadow: 5px 5px 15px 3px rgb(0, 0, 0);
  transition: max-width 1s, height 1.2s;
}
.lets-play-btn:hover {
  max-width: 35%;
  height: 65px;
}
.link1 {
  color: rgb(31, 28, 28);
  font-size: 18px;
  font-family: 'Langar', cursive;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgb(50, 79, 104), 0 0 25px rgb(64, 128, 112), 0 0 5px rgb(44, 96, 139);
  transition: 1s easy;
}
.link1:hover{
  text-decoration: none;
  color: white;
  font-size: 27.5px;
  transition: 0.5s;
}
.btn-span1 {
  position: relative;
  top: 12.5px
}
/*
  Section 2 before blackjack game
*/
.section2 {
  width: 100%;
  height: 500px;
  background-color: beige;
}

.heading2 {
  text-align: center;
  padding: 17.5px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}
.paragrap-flex {
  display: flex;
  padding: 15px;
}
.paragrap-flex-1 {
  padding: 7.5px;
}
.paragrap-flex-2 {
  padding: 7.5px;
}
.ul-style {
  display: block;
  text-align: center;
  word-wrap: break-word;
  list-style-type:none;
  color:rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
}

/*
  section 2 end
*/

/*section 3 start*/
.section-3 {
  background-color: rgb(241, 248, 253);
}
.paragrap-blackjack {
  text-align: center;
  padding: 10px;
  word-break: normal;
  margin-top: 10px;
}

.link-wikipedia {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
.link-wikipedia:hover {
  text-decoration: none;
  color: rgb(92, 120, 175);
}
.article-border {
  border: 1px solid black;
  width: 70%;
  word-wrap: break-word;
  margin: 0 auto;
  margin-bottom: 40px;
}

/*Section 3 end*/

.container-1, .container-2, .container-3, .container-4, .container-5{
  border: 1px solid black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.flex-blackjack-row-3{
  background-color: black;
  color: aliceblue;
}


.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color,
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
  display:flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blackjack-head{
  height: 85px;
  background-color: #101820FF;
  color:white;
}
.flex-blackjack-row-1, .flex-blackjack-row-2{
  background: url("https://mk0gamesnetentcxytko.kinstacdn.com/wp-content/uploads/2018/09/blackjack_background.jpg") center;
  color: white;
}
.flex-blackjack-row-1 div{
  height: 450px;
  text-align: center;
  flex: 1;

}
.flex-blackjack-row-1 img{
  width: 25%;
  padding: 10px;
}

.flex-box-container-1 div{
  display:flex;
  padding:10px;
  border: 1px solid black;
  align-items:center;
}
.flex-blackjack-row-2 div {
  padding: 10px;
}
.flex-blackjack-row-2 button {
  padding: 10px;
}
table, th, td{
  padding: 5px;
  border: 1px solid black;
}
.button-1{
  border:none;
  background-color: rgb(93, 206, 93);
  color: white;
  width: 90px;
  margin: 7.5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.button-1:focus{
  outline: 1px solid rgb(93, 206, 93);
  color: black;
  outline-style: solid;
  border-radius: 0px;
}
.button-2{
  border:none;
  background-color: rgb(255, 196, 0);
  color: white;
  width: 90px;
  margin: 7.5px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.button-2:focus{
  outline: 1px solid rgba(184, 131, 32, 0.829);
  color: black;
  border-radius: 0px;
}
.button-3{
  border:none;
  background-color: rgb(255, 27, 27);
  color: white;
  width: 90px;
  margin: 7.5px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.button-3:focus{
  outline: 1px solid rgb(255, 27, 27);
  color: black;
  border-radius: 0px;
}
.flex-box-container-2 img {
  margin: 10px;
  border: 1px solid green;
  box-shadow: 0px 10px 50px black;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

/*Media Queries */
@media only screen and (max-width: 1150px) {
  .section2 {
    height: 700px;
  }
}
@media only screen and (max-width: 968px) {
  .section2 {
    height: 700px;
  }
}
@media only screen and (max-width: 750px) {
  .paragrap-control-flex {
    display:flex;
    flex-direction: column;
    margin-top: -65px;
  }
  .par-control1, .par-control2, .par-control3, .par-control4, .par-control5 {
    transform: rotate(0deg);
  }
  .par-control3 {
    margin-top: 95px;
  }
  .par-control4 {
    margin-top: 10px;
  }
  .lets-play-btn {
    margin-top: 50px;
  }
  .section2 {
    height: 820px;
  }
}

@media only screen and (max-width: 650px) {
  .flex-blackjack-row-1 {
    height: 350px;
  }
  #imageid{
    width: 86px;
  }
  .lets-play-btn:hover {
    max-width: 300px;
  }
  .header1{
    height:110px;
  }
  .section2 { 
    height: 930px;
  }
}
@media only screen and (max-width: 500px) {
  .ul-style {
    padding:0px;
  }
  .section2 {
    height: 1100px;
  }
}
@media only screen and (max-width: 400px) {
  .ul-style {
    display: none;
  }
  .section2 {
    height: 1000px;
  }
}
@media only screen and (max-width: 320px) {
  .section2 {
    height: 1200px;
  }
  .flex-blackjack-row-1 {
    height: 500px
  }
  #imageid{
    width: 80px;
  }
}






